:root {
    --dark-color: rgb(41, 41, 41);
    --light-color: rgb(255, 255, 255);
}

body,
html {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgb(233, 233, 233);
    font-family: Arial, Helvetica, sans-serif;
}

.share-widget-sub {
    margin: 10px;
}

.share-widget-sub .share-widget-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.share-widget-sub .share-widget-title i {
    width: 20px;
    margin-right: 10px;
}

.share-widget-sub .share-widget-title div {
    font-size: 14px;
    letter-spacing: 1px;
}

.share-widget-sub a {
    text-decoration: none;
    color: var(--light-color);
}

.share-widget-sub a i {
    font-size: 24px;
    margin: 7px;
    transition: .2s ease-in-out;
}

.share-widget-sub a i:hover {
    transform: scale(1.1);
    transition: .2s ease-in-out;
}

.share-widget {
    perspective: 400px;
    width: 220px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.share-widget .share-widget-sub {
    width: 100%;
    max-width: 400px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: -webkit-transform 0.6s;
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    transition: transform 0.6s, -webkit-transform 0.6s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.share-widget-sub .share-widget-title,
.share-widget-sub .share-widget-icons {
    position: absolute;
    width: 100%;
    height: 50px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.share-widget-sub .share-widget-icons {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

.share-widget-sub.flipped {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

.share-widget.dark .share-widget-sub .share-widget-title,
.share-widget.dark .share-widget-sub .share-widget-icons {
    background-color: var(--dark-color);
}

.share-widget.dark .share-widget-sub {
    color: var(--light-color);
}