body {
    background-color: #424952;;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.center {
position: absolute;
top: 60%;
left: 50%;
transform: translate(-50%, -50%);
}

.pixel {
width: 20px;
height: 20px;
background-color: #fedcbf;
box-shadow: 20px 0 #000,
    -20px 0 #000,
    -40px 0 #ffff3c,
    40px 0 #ffff3c,
    -60px 0 #82333e,
    60px 0 #82333e,
    -80px 0 #b19845,
    -100px 0 #b19845,
    80px 0 #82333e,
    100px 0 #82333e,
    0 -20px #64584f,
    20px -20px #64584f,
    -20px -20px #64584f,
    40px -20px #fedcbf,
    60px -20px #fedcbf,
    80px -20px #fedcbf,
    100px -20px #82333e,
    120px -20px #82333e,
    -40px -20px #fedcbf,
    -60px -20px #fedcbf,
    -80px -20px #fedcbf,
    -100px -20px #82333e,
    -120px -20px #82333e,
    0 -40px #fedcbf,
    20px -40px #64584f,
    -20px -40px #64584f,
    40px -40px #fedcbf,
    60px -40px #fedcbf,
    80px -40px #fedcbf,
    100px -40px #fedcbf,
    120px -40px #82333e,
    140px -40px #82333e,
    -40px -40px #fedcbf,
    -60px -40px #fedcbf,
    -80px -40px #fedcbf,
    -100px -40px #fedcbf,
    -120px -40px #82333e,
    -140px -40px #82333e,
    0 -60px #64584f,
    20px -60px #64584f,
    -20px -60px #64584f,
    40px -60px #fedcbf,
    60px -60px #fedcbf,
    80px -60px #fedcbf,
    100px -60px #fedcbf,
    120px -60px #fedcbf,
    140px -60px #82333e,
    160px -60px #82333e,
    -40px -60px #fedcbf,
    -60px -60px #fedcbf,
    -80px -60px #fedcbf,
    -100px -60px #fedcbf,
    -120px -60px #fedcbf,
    -140px -60px #82333e,
    -160px -60px #82333e,
    0 -80px #be9778,
    20px -80px #fedcbf,
    40px -80px #fedcbf,
    60px -80px #fedcbf,
    80px -80px #000,
    100px -80px #fedcbf,
    120px -80px #fedcbf,
    140px -80px #fedcbf,
    160px -80px #82333e,
    -20px -80px #fedcbf,
    -40px -80px #fedcbf,
    -60px -80px #fedcbf,
    -80px -80px #000,
    -100px -80px #fedcbf,
    -120px -80px #fedcbf,
    -140px -80px #fedcbf,
    -160px -80px #82333e,
    0 -100px #fedcbf,
    20px -100px #fedcbf,
    40px -100px #fedcbf,
    60px -100px #000,
    80px -100px #000,
    100px -100px #000,
    120px -100px #fedcbf,
    140px -100px #fedcbf,
    160px -100px #82333e,
    -20px -100px #fedcbf,
    -40px -100px #fedcbf,
    -60px -100px #000,
    -80px -100px #000,
    -100px -100px #000,
    -120px -100px #fedcbf,
    -140px -100px #fedcbf,
    -160px -100px #82333e,
    0 -120px #fedcbf,
    20px -120px #fedcbf,
    40px -120px #fedcbf,
    60px -120px #fedcbf,
    80px -120px #000,
    100px -120px #fedcbf,
    120px -120px #fedcbf,
    140px -120px #5c514c,
    160px -120px #82333e,
    -20px -120px #fedcbf,
    -40px -120px #fedcbf,
    -60px -120px #fedcbf,
    -80px -120px #000,
    -100px -120px #fedcbf,
    -120px -120px #fedcbf,
    -140px -120px #5c514c,
    -160px -120px #82333e,
    0 -140px #fedcbf,
    20px -140px #fedcbf,
    40px -140px #fedcbf,
    60px -140px #48382d,
    80px -140px #48382d,
    100px -140px #48382d,
    120px -140px #fedcbf,
    140px -140px #7a7470,
    -20px -140px #fedcbf,
    -40px -140px #fedcbf,
    -60px -140px #48382d,
    -80px -140px #48382d,
    -100px -140px #48382d,
    -120px -140px #fedcbf,
    -140px -140px #7a7470,
    0 -160px #fedcbf,
    20px -160px #fedcbf,
    40px -160px #fedcbf,
    60px -160px #fedcbf,
    80px -160px #fedcbf,
    100px -160px #fedcbf,
    120px -160px #fedcbf,
    140px -160px #7a7470,
    -20px -160px #fedcbf,
    -40px -160px #fedcbf,
    -60px -160px #fedcbf,
    -80px -160px #fedcbf,
    -100px -160px #fedcbf,
    -120px -160px #fedcbf,
    -140px -160px #7a7470,
    0 -180px #fedcbf,
    20px -180px #fedcbf,
    40px -180px #fedcbf,
    60px -180px #fedcbf,
    80px -180px #fedcbf,
    100px -180px #fedcbf,
    120px -180px #5c514c,
    140px -180px #5c514c,
    -20px -180px #fedcbf,
    -40px -180px #fedcbf,
    -60px -180px #5c514c,
    -80px -180px #5c514c,
    -100px -180px #fedcbf,
    -120px -180px #5c514c,
    -140px -180px #5c514c,
    0 -200px #5c514c,
    20px -200px #5c514c,
    40px -200px #5c514c,
    60px -200px #fedcbf,
    80px -200px #5c514c,
    100px -200px #5c514c,
    120px -200px #5c514c,
    140px -200px #5c514c,
    -20px -200px #5c514c,
    -40px -200px #5c514c,
    -60px -200px #5c514c,
    -80px -200px #5c514c,
    -100px -200px #5c514c,
    -120px -200px #5c514c,
    -140px -200px #5c514c,
    -160px -200px #5c514c,
    0 -220px #5c514c,
    20px -220px #5c514c,
    40px -220px #5c514c,
    60px -220px #5c514c,
    80px -220px #5c514c,
    100px -220px #5c514c,
    120px -220px #5c514c,
    -20px -220px #5c514c,
    -40px -220px #5c514c,
    -60px -220px #5c514c,
    -80px -220px #5c514c,
    -100px -220px #5c514c,
    -120px -220px #5c514c,
    0 -240px #5c514c,
    20px -240px #5c514c,
    40px -240px #5c514c,
    60px -240px #5c514c,
    80px -240px #5c514c,
    -20px -240px #5c514c,
    -40px -240px #5c514c,
    -60px -240px #5c514c,
    -80px -240px #5c514c,
    -100px -240px #5c514c,
    0 -260px #5c514c,
    20px -260px #5c514c,
    40px -260px #5c514c,
    60px -260px #5c514c,
    -20px -260px #5c514c,
    -40px -260px #5c514c,
    -60px -260px #5c514c,
    0 20px #d8ae1e,
    20px 20px #d8ae1e,
    -20px 20px #d8ae1e,
    40px 20px #213862,
    -40px 20px #213862,
    60px 20px #82333e,
    80px 20px #82333e,
    100px 20px #82333e,
    -60px 20px #b19845,
    -80px 20px #b19845,
    -100px 20px #b19845,
    -120px 20px #b19845,
    0 40px #d8ae1e,
    20px 40px #97999b,
    40px 40px #213862,
    60px 40px #213862,
    80px 40px #213862,
    100px 40px #b19845,
    120px 40px #b19845,
    -20px 40px #97999b,
    -40px 40px #213862,
    -60px 40px #b19845,
    -80px 40px #b19845,
    -100px 40px #b19845,
    -120px 40px #b19845,
    0 60px #97999b,
    20px 60px #97999b,
    -20px 60px #97999b,
    40px 60px #213862,
    60px 60px #213862,
    80px 60px #b19845,
    100px 60px #b19845,
    120px 60px #b19845,
    140px 60px #b19845,
    -40px 60px #213862,
    -60px 60px #213862,
    -80px 60px #b19845,
    -100px 60px #b19845,
    0 80px #97999b,
    20px 80px #97999b,
    -20px 80px #97999b,
    40px 80px #213862,
    60px 80px #213862,
    80px 80px #b19845,
    100px 80px #b19845,
    120px 80px #b19845,
    140px 80px #b19845,
    -40px 80px #213862,
    -60px 80px #213862,
    -80px 80px #32221e,
    -100px 80px #82333e,
    0 100px #2c3e4c,
    20px 100px #2c3e4c,
    40px 100px #213862,
    60px 100px #213862,
    80px 100px #32221e,
    100px 100px #b19845,
    120px 100px #b19845,
    -20px 100px #2c3e4c,
    -40px 100px #213862,
    -60px 100px #213862,
    -80px 100px #32221e,
    -100px 100px #82333e,
    0 120px #32221e,
    0 140px #32221e,
    0 160px #32221e,
    0 180px #32221e,
    20px 120px #2c3e4c,
    -20px 120px #2c3e4c,
    40px 120px #2c3e4c,
    60px 120px #32221e,
    80px 120px #32221e,
    100px 120px #32221e,
    120px 120px #82333e,
    140px 120px #82333e,
    160px 120px #82333e,
    -40px 120px #2c3e4c,
    -60px 120px #32221e,
    -80px 120px #32221e,
    -100px 120px #82333e,
    20px 140px #2c3e4c,
    -20px 140px #2c3e4c,
    40px 140px #2c3e4c,
    60px 140px #32221e,
    80px 140px #32221e,
    100px 140px #32221e,
    120px 140px #82333e,
    140px 140px #82333e,
    160px 140px #82333e,
    180px 140px #82333e,
    -40px 140px #2c3e4c,
    -60px 140px #32221e,
    -80px 140px #32221e,
    -100px 140px #82333e,
    20px 160px #bc7d23,
    -20px 160px #bc7d23,
    40px 160px #bc7d23,
    60px 160px #32221e,
    80px 160px #32221e,
    100px 160px #32221e,
    120px 160px #32221e,
    140px 160px #32221e,
    160px 160px #82333e,
    180px 160px #82333e,
    -40px 160px #bc7d23,
    -60px 160px #32221e,
    -80px 160px #32221e,
    -100px 160px #82333e,
    20px 180px #bc7d23,
    -20px 180px #bc7d23,
    40px 180px #bc7d23,
    -40px 180px #bc7d23,
    60px 180px #bc7d23,
    -60px 180px #bc7d23,
    -80px 180px #32221e,
    -100px 180px #82333e,
    80px 180px #32221e,
    100px 180px #32221e,
    120px 180px #32221e,
    140px 180px #32221e,
    160px 180px #82333e;
}